
<!-- <div *ngIf="messageContentList.length">
  <h2>Messages</h2>
<input type="text" [(ngModel)]="messageContent">
<button class="add" (click)="messageAdd()">add</button>
<button class="clear" (click)="messageClear()">clear</button>
  <div *ngFor='let message of messageContentList'> {{message}} </div>
</div>
<button class="clear" (click)="messageSubmit()">Submit</button> -->
<div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <input type="text" [(ngModel)]="messageContent">
    <button class="add"(click)="messageService.add()">add</button><br><br>
    <button class="clear"(click)="messageService.clear()">clear</button>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  
  </div>
  